@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Tajawal', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 210 20% 98%;
    --card: 240 5% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 217 91% 20%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;
    --accent: 330 84% 61%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 217 91% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 20% 98%;
    --card: 240 5% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 217 91% 20%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;
    --accent: 330 84% 61%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}
