@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 235 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 235 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 15% 20%;
    --primary: 235 62% 29%;
    --primary-foreground: 231 100% 98%;
    --secondary: 231 48% 88%;
    --secondary-foreground: 235 62% 29%;
    --muted: 231 48% 85%;
    --muted-foreground: 235 10% 45%;
    --accent: 282 68% 38%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 88%;
    --input: 231 48% 85%;
    --ring: 235 62% 29%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 235 15% 15%;
    --foreground: 231 48% 94%;
    --card: 235 15% 20%;
    --card-foreground: 231 48% 94%;
    --popover: 235 15% 15%;
    --popover-foreground: 231 48% 94%;
    --primary: 231 48% 88%;
    --primary-foreground: 235 62% 29%;
    --secondary: 235 15% 25%;
    --secondary-foreground: 231 48% 94%;
    --muted: 235 15% 25%;
    --muted-foreground: 231 20% 65%;
    --accent: 282 68% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 15% 25%;
    --input: 235 15% 25%;
    --ring: 231 48% 88%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}
